body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #6868ab;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.write-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
}
.write-area input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 364px;
}
.write-area input#title {
    padding: 12px;
    font-size: 15px;
    background-color: #e9ecef;
}
.write-area input#username {
    margin-top: 0;
    width: 384px;
}


.board-wrap {
    height: 500px;
    width: 1000px;
    margin: 100px auto;
    background-color: rgb(224, 228, 231);
}

.board-title {
    margin-bottom: 10px;
    color: rgb(224, 228, 231);
    background-color: #6868ab;
}

.board-title h2 {
    font-size: 2rem;
}

.btn-wrap {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
}

.btn-wrap .post-button, .edit-button, .delete-button {
    cursor: pointer;
    display: inline-block;
    min-width: 80px;
    margin-left: 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.4rem;
    background-color: #9494d3;
    color: #fff;
}

.btn-wrap .delete-button {
    margin-left: 10px;
    background-color: #c98787;
}


.btn-wrap .back-button {
    cursor: pointer;
    display: inline-block;
    min-width: 80px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.4rem;
    color: #000000;
}


.board-list {
    width: 100%;
    border-top: 2px solid black;
}
.board-list > div.top {
    border-bottom: 1px solid #999;
}

.board-list > div {
    border-bottom: 1px solid rgb(214, 210, 210);
    font-size: 0;
}

.board-list > div:last-child {
    border-bottom: 1px solid #000;
}

.board-list > div.top > div {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    padding: 15px 0;
}

.board-list > div.post-list > div {
    display: flex;
    vertical-align: middle;
    font-size: 1.4rem;
    text-align: center;
    padding: 15px 0;
}

.board-list .post-list .title {
    cursor: pointer;
}

.board-list .num {
    width: 10%;
}

.board-list .top .title {
    text-align: center;
}
.board-list .title {
    width: 50%;
    text-align: left;
}
.board-list .username {
    width: 10%;
}
.board-list .date {
    width: 30%;
}
/*.board-list .count {*/
/*    width: 10%;*/
/*}*/
.board-page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board-page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    border-left: 0;
}

.board-page a:first-child {
    border-left: 1px solid #ddd;
}

.board-page a.num.on {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.board-view {
    width: 100%;
    border-top: 2px solid #000;
}

.board-view .title-details {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board-view .info {
    padding: 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 0;
}
.board-view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.post-list .date {
    font-size: 1rem;
}

.board-view {
    width: 100%;
    border-top: 2px solid #000;
}


.board-view .info {
    padding: 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 0;
}
.board-view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
.board-view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 1px;
    height: 13px;
    background-color: #ddd;
}
.board-view .info dl:first-child:before {
    display: none;
}
.board-view .info dl:first-child {
    padding-left: 0;
}
.board-view .info dl dt {
    display: inline-block;
    font-size: 0.8rem;
}
.board-view .info dl dd {
    display: inline-block;
    font-size: 0.8rem;
    color: #777;
}

.board-view .contents-details {
    padding: 15px;
    border-bottom: 1px solid black;
    line-height: 160%;
    font-size: 1.2rem;
}